# Que.1

For a given datasets do proper scaling on that.
datasets: crime_data.csv
          EastWest.csv
          Framingham.csv
          Grocery.csv
          Universities.csv

### 1

In [137]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [138]:
df = pd.read_csv('./crime_data.csv')
df.head(10)

    Unnamed: 0  Murder  Assault  UrbanPop  Rape
0      Alabama    13.2      236        58  21.2
1       Alaska    10.0      263        48  44.5
2      Arizona     8.1      294        80  31.0
3     Arkansas     8.8      190        50  19.5
4   California     9.0      276        91  40.6
5     Colorado     7.9      204        78  38.7
6  Connecticut     3.3      110        77  11.1
7     Delaware     5.9      238        72  15.8
8      Florida    15.4      335        80  31.9
9      Georgia    17.4      211        60  25.8

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50 non-null     object
 1   Murder      50 non-null     float64
 2   Assault     50 non-null     int64
 3   UrbanPop    50 non-null     int64
 4   Rape        50 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 2.1+ KB

In [140]:
df.describe()

         Murder     Assault   UrbanPop       Rape
count  50.00000   50.000000  50.000000  50.000000
mean    7.78800  170.760000  65.540000  21.232000
std     4.35551   83.337661  14.474763   9.366385
min     0.80000   45.000000  32.000000   7.300000
25%     4.07500  109.000000  54.500000  15.075000
50%     7.25000  159.000000  66.000000  20.100000
75%    11.25000  249.000000  77.750000  26.175000
max    17.40000  337.000000  91.000000  46.000000

In [141]:
df1 = df.drop('Unnamed: 0', axis = 1)
df1

    Murder  Assault  UrbanPop  Rape
0     13.2      236        58  21.2
1     10.0      263        48  44.5
2      8.1      294        80  31.0
3      8.8      190        50  19.5
4      9.0      276        91  40.6
5      7.9      204        78  38.7
6      3.3      110        77  11.1
7      5.9      238        72  15.8
8     15.4      335        80  31.9
9     17.4      211        60  25.8
10     5.3       46        83  20.2
11     2.6      120        54  14.2
12    10.4      249        83  24.0
13     7.2      113        65  21.0
14     2.2       56        57  11.3
15     6.0      115        66  18.0
16     9.7      109        52  16.3
17    15.4      249        66  22.2
18     2.1       83        51   7.8
19    11.3      300        67  27.8
20     4.4      149        85  16.3
21    12.1      255        74  35.1
22     2.7       72        66  14.9
23    16.1      259        44  17.1
24     9.0      178        70  28.2
25     6.0      109        53  16.4
26     4.3      102        62  16.5
27    12.2      252        81  46.0
28     2.1       57        56   9.5
29     7.4      159        89  18.8
30    11.4      285        70  32.1
31    11.1      254        86  26.1
32    13.0      337        45  16.1
33     0.8       45        44   7.3
34     7.3      120        75  21.4
35     6.6      151        68  20.0
36     4.9      159        67  29.3
37     6.3      106        72  14.9
38     3.4      174        87   8.3
39    14.4      279        48  22.5
40     3.8       86        45  12.8
41    13.2      188        59  26.9
42    12.7      201        80  25.5
43     3.2      120        80  22.9
44     2.2       48        32  11.2
45     8.5      156        63  20.7
46     4.0      145        73  26.2
47     5.7       81        39   9.3
48     2.6       53        66  10.8
49     6.8      161        60  15.6

In [173]:
colName = df1.columns

In [174]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df1)
data2 = scaler.transform(df1)
data=pd.DataFrame(data2, columns= colName)
data

      Murder   Assault  UrbanPop      Rape
0   1.255179  0.790787 -0.526195 -0.003451
1   0.513019  1.118060 -1.224067  2.509424
2   0.072361  1.493817  1.009122  1.053466
3   0.234708  0.233212 -1.084492 -0.186794
4   0.281093  1.275635  1.776781  2.088814
5   0.025976  0.402909  0.869548  1.883901
6  -1.040880 -0.736484  0.799761 -1.092723
7  -0.437875  0.815030  0.450825 -0.585834
8   1.765415  1.990786  1.009122  1.150530
9   2.229265  0.487757 -0.386621  0.492653
10 -0.577030 -1.512241  1.218484 -0.111300
11 -1.203228 -0.615272 -0.805344 -0.758392
12  0.605789  0.948363  1.218484  0.298525
13 -0.136372 -0.700121 -0.037685 -0.025021
14 -1.295998 -1.391029 -0.595982 -1.071153
15 -0.414682 -0.675878  0.032102 -0.348567
16  0.443441 -0.748605 -0.944918 -0.531910
17  1.765415  0.948363  0.032102  0.104398
18 -1.319191 -1.063757 -1.014705 -1.448624
19  0.814521  1.566544  0.101889  0.708350
20 -0.785763 -0.263757  1.358058 -0.531910
21  1.000062  1.021090  0.590399  1.495646
22 -1.180036 -1.197090  0.032102 -0.682898
23  1.927762  1.069575 -1.503215 -0.445631
24  0.281093  0.087757  0.311251  0.751490
25 -0.414682 -0.748605 -0.875131 -0.521125
26 -0.808955 -0.833454 -0.247047 -0.510340
27  1.023254  0.984726  1.078909  2.671197
28 -1.319191 -1.378908 -0.665769 -1.265281
29 -0.089987 -0.142545  1.637207 -0.262288
30  0.837714  1.384726  0.311251  1.172100
31  0.768136  1.008969  1.427845  0.525008
32  1.208794  2.015028 -1.433428 -0.553480
33 -1.620693 -1.524362 -1.503215 -1.502548
34 -0.113180 -0.615272  0.660186  0.018119
35 -0.275527 -0.239515  0.171676 -0.132870
36 -0.669800 -0.142545  0.101889  0.870123
37 -0.345105 -0.784969  0.450825 -0.682898
38 -1.017688  0.039273  1.497632 -1.394700
39  1.533490  1.311999 -1.224067  0.136752
40 -0.924918 -1.027393 -1.433428 -0.909380
41  1.255179  0.208970 -0.456408  0.611287
42  1.139217  0.366545  1.009122  0.460298
43 -1.064073 -0.615272  1.009122  0.179892
44 -1.295998 -1.487999 -2.340661 -1.081938
45  0.165131 -0.178909 -0.177259 -0.057376
46 -0.878533 -0.312242  0.520612  0.535792
47 -0.484260 -1.087999 -1.852151 -1.286851
48 -1.203228 -1.427393  0.032102 -1.125078
49 -0.229142 -0.118303 -0.386621 -0.607404

In [175]:
data.describe()

             Murder       Assault      UrbanPop          Rape
count  5.000000e+01  5.000000e+01  5.000000e+01  5.000000e+01
mean  -7.105427e-17  1.387779e-16 -4.396483e-16  8.593126e-16
std    1.010153e+00  1.010153e+00  1.010153e+00  1.010153e+00
min   -1.620693e+00 -1.524362e+00 -2.340661e+00 -1.502548e+00
25%   -8.611383e-01 -7.486054e-01 -7.704502e-01 -6.640245e-01
50%   -1.247758e-01 -1.425453e-01  3.210209e-02 -1.220847e-01
75%    8.029251e-01  9.483628e-01  8.521012e-01  5.330962e-01
max    2.229265e+00  2.015028e+00  1.776781e+00  2.671197e+00

### 2

In [152]:
df = pd.read_csv('EastWest .csv')
df.head(10)

,ID#,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award?
0,1,28143,0,1,1,1,174,1,0,0,7000,0
1,2,19244,0,1,1,1,215,2,0,0,6968,0
2,3,41354,0,1,1,1,4123,4,0,0,7034,0
3,4,14776,0,1,1,1,500,1,0,0,6952,0
4,5,97752,0,4,1,1,43300,26,2077,4,6935,1
5,6,16420,0,1,1,1,0,0,0,0,6942,0
6,7,84914,0,3,1,1,27482,25,0,0,6994,0
7,8,20856,0,1,1,1,5250,4,250,1,6938,1
8,9,443003,0,3,2,1,1753,43,3850,12,6948,1
9,10,104860,0,3,1,1,28426,28,1150,3,6931,1

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID#                3999 non-null   int64
 1   Balance            3999 non-null   int64
 2   Qual_miles         3999 non-null   int64
 3   cc1_miles          3999 non-null   int64
 4   cc2_miles          3999 non-null   int64
 5   cc3_miles          3999 non-null   int64
 6   Bonus_miles        3999 non-null   int64
 7   Bonus_trans        3999 non-null   int64
 8   Flight_miles_12mo  3999 non-null   int64
 9   Flight_trans_12    3999 non-null   int64
 10  Days_since_enroll  3999 non-null   int64
 11  Award?             3999 non-null   int64
dtypes: int64(12)
memory usage: 375.0 KB

In [154]:
df.corr()

,ID#,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award?
ID#,1.000000,-0.243737,-0.019374,-0.224465,0.020291,-0.014707,-0.203012,-0.146915,-0.031013,-0.052096,-0.964988,-0.177901
Balance,-0.243737,1.000000,0.108722,0.338344,-0.008804,0.035243,0.403487,0.324935,0.217551,0.255700,0.263129,0.178494
Qual_miles,-0.019374,0.108722,1.000000,0.007931,-0.013923,-0.007779,0.031021,0.050725,0.126774,0.144004,0.017312,0.095256
cc1_miles,-0.224465,0.338344,0.007931,1.000000,-0.068223,0.060555,0.825200,0.608943,0.037370,0.041333,0.230849,0.335457
cc2_miles,0.020291,-0.008804,-0.013923,-0.068223,1.000000,-0.006166,-0.003969,0.064399,0.010598,0.028284,-0.005807,0.005332
cc3_miles,-0.014707,0.035243,-0.007779,0.060555,-0.006166,1.000000,0.204134,0.097313,-0.001777,-0.001117,0.010832,0.023484
Bonus_miles,-0.203012,0.403487,0.031021,0.825200,-0.003969,0.204134,1.000000,0.603180,0.183536,0.185261,0.210397,0.373506
Bonus_trans,-0.146915,0.324935,0.050725,0.608943,0.064399,0.097313,0.603180,1.000000,0.377216,0.432364,0.161262,0.333893
Flight_miles_12mo,-0.031013,0.217551,0.126774,0.037370,0.010598,-0.001777,0.183536,0.377216,1.000000,0.869193,0.037271,0.217715
Flight_trans_12,-0.052096,0.255700,0.144004,0.041333,0.028284,-0.001117,0.185261,0.432364,0.869193,1.000000,0.059260,0.247909
Days_since_enroll,-0.964988,0.263129,0.017312,0.230849,-0.005807,0.010832,0.210397,0.161262,0.037271,0.059260,1.000000,0.188121
Award?,-0.177901,0.178494,0.095256,0.335457,0.005332,0.023484,0.373506,0.333893,0.217715,0.247909,0.188121,1.000000

In [155]:
df.describe()

,ID#,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award?
count,3999.000000,3.999000e+03,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.00000,3999.000000,3999.000000,3999.00000,3999.000000
mean,2014.819455,7.360133e+04,144.114529,2.059515,1.014504,1.012253,17144.846212,11.60190,460.055764,1.373593,4118.55939,0.370343
std,1160.764358,1.007757e+05,773.663804,1.376919,0.147650,0.195241,24150.967826,9.60381,1400.209171,3.793172,2065.13454,0.482957
min,1.000000,0.000000e+00,0.000000,1.000000,1.000000,1.000000,0.000000,0.00000,0.000000,0.000000,2.00000,0.000000
25%,1010.500000,1.852750e+04,0.000000,1.000000,1.000000,1.000000,1250.000000,3.00000,0.000000,0.000000,2330.00000,0.000000
50%,2016.000000,4.309700e+04,0.000000,1.000000,1.000000,1.000000,7171.000000,12.00000,0.000000,0.000000,4096.00000,0.000000
75%,3020.500000,9.240400e+04,0.000000,3.000000,1.000000,1.000000,23800.500000,17.00000,311.000000,1.000000,5790.50000,1.000000
max,4021.000000,1.704838e+06,11148.000000,5.000000,3.000000,5.000000,263685.000000,86.00000,30817.000000,53.000000,8296.00000,1.000000

In [162]:
colName = df.columns

In [163]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df)
data = scaler.transform(df)
data1=pd.DataFrame(data,columns= colName)
data1

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1.153113,-1.234283,1.985953,-0.988276,-0.760165,-0.175721,-0.077014,-0.671241,-0.162437,-0.936829,-1.196267,-1.083027,0.285506,0.342690,-0.210812,-0.423188
1,-0.867217,-0.417664,0.021314,-0.988276,-0.760165,-0.175721,-0.077014,-0.671241,-0.162437,0.296648,-0.515399,-0.159355,0.716374,1.590332,-0.252909,-0.423188
2,1.153113,-0.184345,-0.961005,1.011863,0.919189,-0.175721,-0.077014,-0.671241,-0.162437,0.184514,-0.220356,-0.243325,-0.113536,-0.073191,-0.505491,-0.423188
3,-0.867217,1.332233,1.003634,1.011863,1.758866,-0.175721,-0.077014,1.489778,-0.162437,-0.264023,0.800946,1.016227,0.679652,-0.904953,0.883707,2.363017
4,-0.867217,-0.417664,1.003634,1.011863,1.171092,-0.175721,-0.077014,-0.671241,-0.162437,1.081588,-0.106878,0.092555,-0.661914,0.758570,0.125963,-0.423188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,-0.867217,-0.184345,0.021314,1.011863,0.919189,-0.175721,-0.077014,-0.671241,-0.162437,0.251794,-0.061487,-0.915087,-0.931206,0.675394,0.168060,-0.423188
4236,-0.867217,-0.650984,-0.961005,1.011863,0.499351,-0.175721,-0.077014,-0.671241,-0.162437,-0.600426,-0.265747,0.344466,-1.626470,0.841747,-0.547587,-0.423188
4237,-0.867217,0.282295,0.021314,-0.988276,-0.760165,-0.175721,-0.077014,-0.671241,-0.162437,0.722758,0.051991,0.008585,-1.060956,0.342690,1.052095,-0.423188
4238,1.153113,-1.117623,1.003634,-0.988276,-0.760165,-0.175721,-0.077014,1.489778,-0.162437,-1.161098,0.392425,1.268138,-0.049885,-0.738600,-0.421297,-0.423188
4239,-0.867217,-1.234283,1.003634,1.011863,1.758866,-0.175721,-0.077014,-0.671241,-0.162437,-0.914402,0.029296,0.260496,-1.198050,0.758570,-0.084521,-0.423188

In [164]:
data1.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03
mean,-1.206582e-16,1.256856e-16,-7.541138e-17,-1.005485e-17,-4.692263e-17,1.675808e-17,-6.703233e-18,6.032910e-17,1.340647e-17,2.128277e-16,-3.854359e-17,3.351617e-18,8.211461e-17,-5.094457e-16,-5.865329e-17,-2.513713e-17
std,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00
min,-8.672175e-01,-2.050902e+00,-9.610049e-01,-9.882763e-01,-7.601654e-01,-1.757205e-01,-7.701427e-02,-6.712410e-01,-1.624373e-01,-2.910392e+00,-2.217569e+00,-2.930371e+00,-2.512687e+00,-2.651652e+00,-1.768398e+00,-4.231878e-01
25%,-8.672175e-01,-8.843035e-01,-9.610049e-01,-9.882763e-01,-7.601654e-01,-1.757205e-01,-7.701427e-02,-6.712410e-01,-1.624373e-01,-6.901336e-01,-6.969637e-01,-6.631763e-01,-6.692580e-01,-6.554241e-01,-4.212967e-01,-4.231878e-01
50%,-8.672175e-01,-6.768471e-02,2.131448e-02,-9.882763e-01,-7.601654e-01,-1.757205e-01,-7.701427e-02,-6.712410e-01,-1.624373e-01,-6.218163e-02,-1.976605e-01,-7.538502e-02,-9.884774e-02,-7.319108e-02,-1.687153e-01,-4.231878e-01
75%,1.153113e+00,7.489341e-01,1.003634e+00,1.011863e+00,9.191891e-01,-1.757205e-01,-7.701427e-02,1.489778e+00,-1.624373e-01,5.881972e-01,5.285987e-01,5.963764e-01,5.474540e-01,5.922181e-01,2.101569e-01,-4.231878e-01
max,1.153113e+00,2.382172e+00,1.985953e+00,1.011863e+00,5.117575e+00,5.690855e+00,1.298461e+01,1.489778e+00,6.156223e+00,1.029903e+01,7.382670e+00,5.004811e+00,7.588226e+00,5.582787e+00,1.313391e+01,2.363017e+00

### 3

In [165]:
df = pd.read_csv('framingham.csv')
df.head(10)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
5,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
7,0,45,2.0,1,20.0,0.0,0,0,0,313.0,100.0,71.0,21.68,79.0,78.0,0
8,1,52,1.0,0,0.0,0.0,0,1,0,260.0,141.5,89.0,26.36,76.0,79.0,0
9,1,43,1.0,1,30.0,0.0,0,1,0,225.0,162.0,107.0,23.61,93.0,88.0,0

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4240 non-null   int64
 1   age              4240 non-null   int64
 2   education        4135 non-null   float64
 3   currentSmoker    4240 non-null   int64
 4   cigsPerDay       4211 non-null   float64
 5   BPMeds           4187 non-null   float64
 6   prevalentStroke  4240 non-null   int64
 7   prevalentHyp     4240 non-null   int64
 8   diabetes         4240 non-null   int64
 9   totChol          4190 non-null   float64
 10  sysBP            4240 non-null   float64
 11  diaBP            4240 non-null   float64
 12  BMI              4221 non-null   float64
 13  heartRate        4239 non-null   float64
 14  glucose          3852 non-null   float64
 15  TenYearCHD       4240 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 530.1 KB

In [167]:
df.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [168]:
from miceforest import ImputationKernel
fillk = ImputationKernel(
    data = df,
    random_state = 12345,
    datasets=4,
    save_all_iterations=True
)

fillk.mice(3)
df = fillk.complete_data()

In [169]:
df.isnull().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [170]:
df.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000,4240.000000
mean,0.429245,49.580189,1.978302,0.494104,9.053066,0.029953,0.005896,0.310613,0.025708,236.772642,132.354599,82.897759,25.803771,75.879953,82.007783,0.151887
std,0.495027,8.572942,1.018119,0.500024,11.910742,0.170477,0.076569,0.462799,0.158280,44.594656,22.033300,11.910394,4.085261,12.024096,23.757517,0.358953
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,72.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [171]:
colName = df.columns

In [172]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df)
data = scaler.transform(df)
data1=pd.DataFrame(data,columns= colName)
data1

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1.153113,-1.234283,1.985953,-0.988276,-0.760165,-0.175721,-0.077014,-0.671241,-0.162437,-0.936829,-1.196267,-1.083027,0.285506,0.342690,-0.210812,-0.423188
1,-0.867217,-0.417664,0.021314,-0.988276,-0.760165,-0.175721,-0.077014,-0.671241,-0.162437,0.296648,-0.515399,-0.159355,0.716374,1.590332,-0.252909,-0.423188
2,1.153113,-0.184345,-0.961005,1.011863,0.919189,-0.175721,-0.077014,-0.671241,-0.162437,0.184514,-0.220356,-0.243325,-0.113536,-0.073191,-0.505491,-0.423188
3,-0.867217,1.332233,1.003634,1.011863,1.758866,-0.175721,-0.077014,1.489778,-0.162437,-0.264023,0.800946,1.016227,0.679652,-0.904953,0.883707,2.363017
4,-0.867217,-0.417664,1.003634,1.011863,1.171092,-0.175721,-0.077014,-0.671241,-0.162437,1.081588,-0.106878,0.092555,-0.661914,0.758570,0.125963,-0.423188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,-0.867217,-0.184345,0.021314,1.011863,0.919189,-0.175721,-0.077014,-0.671241,-0.162437,0.251794,-0.061487,-0.915087,-0.931206,0.675394,0.168060,-0.423188
4236,-0.867217,-0.650984,-0.961005,1.011863,0.499351,-0.175721,-0.077014,-0.671241,-0.162437,-0.600426,-0.265747,0.344466,-1.626470,0.841747,-0.547587,-0.423188
4237,-0.867217,0.282295,0.021314,-0.988276,-0.760165,-0.175721,-0.077014,-0.671241,-0.162437,0.722758,0.051991,0.008585,-1.060956,0.342690,1.052095,-0.423188
4238,1.153113,-1.117623,1.003634,-0.988276,-0.760165,-0.175721,-0.077014,1.489778,-0.162437,-1.161098,0.392425,1.268138,-0.049885,-0.738600,-0.421297,-0.423188
4239,-0.867217,-1.234283,1.003634,1.011863,1.758866,-0.175721,-0.077014,-0.671241,-0.162437,-0.914402,0.029296,0.260496,-1.198050,0.758570,-0.084521,-0.423188

In [176]:
data1.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03,4.240000e+03
mean,-1.206582e-16,1.256856e-16,-7.541138e-17,-1.005485e-17,-4.692263e-17,1.675808e-17,-6.703233e-18,6.032910e-17,1.340647e-17,2.128277e-16,-3.854359e-17,3.351617e-18,8.211461e-17,-5.094457e-16,-5.865329e-17,-2.513713e-17
std,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00,1.000118e+00
min,-8.672175e-01,-2.050902e+00,-9.610049e-01,-9.882763e-01,-7.601654e-01,-1.757205e-01,-7.701427e-02,-6.712410e-01,-1.624373e-01,-2.910392e+00,-2.217569e+00,-2.930371e+00,-2.512687e+00,-2.651652e+00,-1.768398e+00,-4.231878e-01
25%,-8.672175e-01,-8.843035e-01,-9.610049e-01,-9.882763e-01,-7.601654e-01,-1.757205e-01,-7.701427e-02,-6.712410e-01,-1.624373e-01,-6.901336e-01,-6.969637e-01,-6.631763e-01,-6.692580e-01,-6.554241e-01,-4.212967e-01,-4.231878e-01
50%,-8.672175e-01,-6.768471e-02,2.131448e-02,-9.882763e-01,-7.601654e-01,-1.757205e-01,-7.701427e-02,-6.712410e-01,-1.624373e-01,-6.218163e-02,-1.976605e-01,-7.538502e-02,-9.884774e-02,-7.319108e-02,-1.687153e-01,-4.231878e-01
75%,1.153113e+00,7.489341e-01,1.003634e+00,1.011863e+00,9.191891e-01,-1.757205e-01,-7.701427e-02,1.489778e+00,-1.624373e-01,5.881972e-01,5.285987e-01,5.963764e-01,5.474540e-01,5.922181e-01,2.101569e-01,-4.231878e-01
max,1.153113e+00,2.382172e+00,1.985953e+00,1.011863e+00,5.117575e+00,5.690855e+00,1.298461e+01,1.489778e+00,6.156223e+00,1.029903e+01,7.382670e+00,5.004811e+00,7.588226e+00,5.582787e+00,1.313391e+01,2.363017e+00

### 4

In [177]:
df = pd.read_csv('Grocery.csv')
df.head(10)

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
5,2,3,9413,8259,5126,666,1795,1451
6,2,3,12126,3199,6975,480,3140,545
7,2,3,7579,4956,9426,1669,3321,2566
8,1,3,5963,3648,6192,425,1716,750
9,2,3,6006,11093,18881,1159,7425,2098

In [178]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

In [179]:
df.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [180]:
colName = df.columns

In [181]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df)
data = scaler.transform(df)
data1=pd.DataFrame(data,columns= colName)
data1

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,1.448652,0.590668,0.052933,0.523568,-0.041115,-0.589367,-0.043569,-0.066339
1,1.448652,0.590668,-0.391302,0.544458,0.170318,-0.270136,0.086407,0.089151
2,1.448652,0.590668,-0.447029,0.408538,-0.028157,-0.137536,0.133232,2.243293
3,-0.690297,0.590668,0.100111,-0.624020,-0.392977,0.687144,-0.498588,0.093411
4,1.448652,0.590668,0.840239,-0.052396,-0.079356,0.173859,-0.231918,1.299347
...,...,...,...,...,...,...,...,...
435,-0.690297,0.590668,1.401312,0.848446,0.850760,2.075222,-0.566831,0.241091
436,-0.690297,0.590668,2.155293,-0.592142,-0.757165,0.296561,-0.585519,0.291501
437,1.448652,0.590668,0.200326,1.314671,2.348386,-0.543380,2.511218,0.121456
438,-0.690297,0.590668,-0.135384,-0.517536,-0.602514,-0.419441,-0.569770,0.213046
439,-0.690297,0.590668,-0.729307,-0.555924,-0.573227,-0.620094,-0.504888,-0.522869

In [182]:
data1.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,4.400000e+02,4.400000e+02,4.400000e+02,440.000000,4.400000e+02,4.400000e+02,4.400000e+02,4.400000e+02
mean,1.614870e-17,3.552714e-16,-3.431598e-17,0.000000,-4.037175e-17,3.633457e-17,2.422305e-17,-8.074349e-18
std,1.001138e+00,1.001138e+00,1.001138e+00,1.001138,1.001138e+00,1.001138e+00,1.001138e+00,1.001138e+00
min,-6.902971e-01,-1.995342e+00,-9.496831e-01,-0.778795,-8.373344e-01,-6.283430e-01,-6.044165e-01,-5.402644e-01
25%,-6.902971e-01,-7.023369e-01,-7.023339e-01,-0.578306,-6.108364e-01,-4.804306e-01,-5.511349e-01,-3.964005e-01
50%,-6.902971e-01,5.906683e-01,-2.767602e-01,-0.294258,-3.366684e-01,-3.188045e-01,-4.336004e-01,-1.985766e-01
75%,1.448652e+00,5.906683e-01,3.905226e-01,0.189092,2.849105e-01,9.946441e-02,2.184822e-01,1.048598e-01
max,1.448652e+00,5.906683e-01,7.927738e+00,9.183650,8.936528e+00,1.191900e+01,7.967672e+00,1.647845e+01

### 5

In [183]:
df = pd.read_csv('Universities.csv')
df.head(10)

           Univ   SAT  Top10  Accept  SFRatio  Expenses  GradRate
0         Brown  1310     89      22       13     22704        94
1       CalTech  1415    100      25        6     63575        81
2           CMU  1260     62      59        9     25026        72
3      Columbia  1310     76      24       12     31510        88
4       Cornell  1280     83      33       13     21864        90
5     Dartmouth  1340     89      23       10     32162        95
6          Duke  1315     90      30       12     31585        95
7    Georgetown  1255     74      24       12     20126        92
8       Harvard  1400     91      14       11     39525        97
9  JohnsHopkins  1305     75      44        7     58691        87

In [187]:
x = df.drop('Univ', axis = 1)
x

     SAT  Top10  Accept  SFRatio  Expenses  GradRate
0   1310     89      22       13     22704        94
1   1415    100      25        6     63575        81
2   1260     62      59        9     25026        72
3   1310     76      24       12     31510        88
4   1280     83      33       13     21864        90
5   1340     89      23       10     32162        95
6   1315     90      30       12     31585        95
7   1255     74      24       12     20126        92
8   1400     91      14       11     39525        97
9   1305     75      44        7     58691        87
10  1380     94      30       10     34870        91
11  1260     85      39       11     28052        89
12  1255     81      42       13     15122        94
13  1081     38      54       18     10185        80
14  1375     91      14        8     30220        95
15  1005     28      90       19      9066        69
16  1360     90      20       12     36450        93
17  1075     49      67       25      8704        67
18  1240     95      40       17     15140        78
19  1290     75      50       13     38380        87
20  1180     65      68       16     15470        85
21  1285     80      36       11     27553        90
22  1225     77      44       14     13349        92
23  1085     40      69       15     11857        71
24  1375     95      19       11     43514        96

In [188]:
x.describe()

               SAT       Top10     Accept   SFRatio      Expenses   GradRate
count    25.000000   25.000000  25.000000  25.00000     25.000000  25.000000
mean   1266.440000   76.480000  39.200000  12.72000  27388.000000  86.720000
std     108.359771   19.433905  19.727308   4.06735  14424.883165   9.057778
min    1005.000000   28.000000  14.000000   6.00000   8704.000000  67.000000
25%    1240.000000   74.000000  24.000000  11.00000  15140.000000  81.000000
50%    1285.000000   81.000000  36.000000  12.00000  27553.000000  90.000000
75%    1340.000000   90.000000  50.000000  14.00000  34870.000000  94.000000
max    1415.000000  100.000000  90.000000  25.00000  63575.000000  97.000000

In [189]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SAT       25 non-null     int64
 1   Top10     25 non-null     int64
 2   Accept    25 non-null     int64
 3   SFRatio   25 non-null     int64
 4   Expenses  25 non-null     int64
 5   GradRate  25 non-null     int64
dtypes: int64(6)
memory usage: 1.3 KB

In [192]:
colName = x.columns

In [193]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x)
data = scaler.transform(x)
data1=pd.DataFrame(data,columns= colName)
data1

         SAT     Top10    Accept   SFRatio  Expenses  GradRate
0   0.410284  0.657519 -0.889867  0.070260 -0.331413  0.820303
1   1.399259  1.235212 -0.734657 -1.686251  2.560381 -0.644524
2  -0.060657 -0.760454  1.024382 -0.933460 -0.167121 -1.658634
3   0.410284 -0.025208 -0.786394 -0.180670  0.291649  0.144229
4   0.127719  0.342414 -0.320766  0.070260 -0.390846  0.369587
5   0.692848  0.657519 -0.838130 -0.682530  0.337780  0.932982
6   0.457378  0.710037 -0.475975 -0.180670  0.296955  0.932982
7  -0.107751 -0.130243 -0.786394 -0.180670 -0.513817  0.594945
8   1.257977  0.762555 -1.303758 -0.431600  0.858743  1.158339
9   0.363190 -0.077726  0.248335 -1.435321  2.214818  0.031550
10  1.069601  0.920107 -0.475975 -0.682530  0.529383  0.482266
11 -0.060657  0.447449 -0.010347 -0.431600  0.046981  0.256908
12 -0.107751  0.237379  0.144862  0.070260 -0.867871  0.820303
13 -1.746625 -2.020875  0.765699  1.324911 -1.217184 -0.757202
14  1.022507  0.762555 -1.303758 -1.184390  0.200376  0.932982
15 -2.462455 -2.546050  2.628211  1.575841 -1.296358 -1.996671
16  0.881224  0.710037 -0.993340 -0.180670  0.641174  0.707624
17 -1.803138 -1.443182  1.438273  3.081422 -1.321971 -2.222029
18 -0.249033  0.972625  0.041389  1.073981 -0.866597 -0.982560
19  0.221907 -0.077726  0.558754  0.070260  0.777730  0.031550
20 -0.814162 -0.602901  1.490010  0.823051 -0.843248 -0.193808
21  0.174813  0.184862 -0.165557 -0.431600  0.011674  0.369587
22 -0.390316  0.027309  0.248335  0.321191 -0.993318  0.594945
23 -1.708950 -1.915840  1.541746  0.572121 -1.098883 -1.771313
24  1.022507  0.972625 -1.045076 -0.431600  1.140982  1.045661

In [194]:
data1.describe()

,SAT,Top10,Accept,SFRatio,Expenses,GradRate
count,2.500000e+01,2.500000e+01,2.500000e+01,2.500000e+01,2.500000e+01,2.500000e+01
mean,-5.151435e-16,-2.087219e-16,-1.332268e-16,-1.909584e-16,-8.881784e-18,1.421085e-16
std,1.020621e+00,1.020621e+00,1.020621e+00,1.020621e+00,1.020621e+00,1.020621e+00
min,-2.462455e+00,-2.546050e+00,-1.303758e+00,-1.686251e+00,-1.321971e+00,-2.222029e+00
25%,-2.490335e-01,-1.302435e-01,-7.863939e-01,-4.315999e-01,-8.665972e-01,-6.445235e-01
50%,1.748132e-01,2.373792e-01,-1.655566e-01,-1.806697e-01,1.167444e-02,3.695869e-01
75%,6.928481e-01,7.100370e-01,5.587536e-01,3.211906e-01,5.293827e-01,8.203026e-01
max,1.399259e+00,1.235212e+00,2.628211e+00,3.081422e+00,2.560381e+00,1.158339e+00